/* Default styles */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode styles (default) */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.container {
    background-color: #444;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #666;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    background-color: #555; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
    width: 100%; /* Full width within the container */
    max-width: 500px; /* Set a maximum width */
    box-sizing: border-box; /* Include padding and border in width */
}

/* Hide up/down buttons in number input fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
    appearance: textfield; /* For other browsers */
}

input::placeholder {
    color: #ccc;
}

button {
    margin-top: 20px;
    background-color: #0099ff;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0077cc;
}

#version-indicator {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: #bbb;
}
